/*TEXT ELEMENTS*/

h1 {
  color: #fff;
  @include large-fonts(5.4vw, .2em);
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  @include large-fonts(3vw, .2em);
}

h3 {
  @include large-fonts(6vw, 0);
}

h4 {
  font-size: 1.8vw;
  padding-bottom: 1vw;
  text-align: center;
}

p {
  font-family: 'Work Sans', sans-serif;
  @include large-fonts(1.2vw, .2vw);
  font-weight: 600;
  margin-right: 1vw;
  padding-top: 2vw;
  text-align: right;
  width: 9vw;
  word-break: keep-all;
}

.today-data {
  @include large-fonts(7vw, 0.1em);
  display: flex;
  justify-content: center;
}