
$font-stack: 'Oswald', sans-serif;
$primary-background: #1F1F1F;
$profile-button: 5.6vw;
$margin-size: .5vw;
$bright-orange: #F5634B;
$aqua-blue: #54C6BE;
$light-purple: #8975B2;
$pale-yellow: #FBD089;
