*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

@import 'variables', 'buttons', 'text';

body {
  background-color: $primary-background;
  font-family: $font-stack;
}

/* HEADER */
header {
  text-align: center;
  height: 9vw;
}

button:active {
  border: none;
  outline: none;
}

#profile-button {
  background-image: url(../images/profile.png);
  background-position: center;
  background-size: $profile-button;
  border: none;
  display: inline;
  float: right;
  height: $profile-button;
  margin-right: $margin-size;
  margin-top: 1.6vw;
  width: $profile-button;
}

#user-info-dropdown {
  background-color: $primary-background;
  color: white;
  margin-left: 60%;
  margin-top: -1.2%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.dropdown-p {
  font-size: 1.2vw;
  font-weight: 300;
  padding-bottom: 1vw;
  padding-top: 0;
  text-align: center;
  width: 100%;
}

/* MAIN */
main {
  display: grid;
  grid-template-areas:
  'steps hydration'
  'stairs sleep';
  height: 100%;
}
.card-display {
  align-items: center;
  display: flex;
}
.main-card {
  @extend .card-display;
  flex-direction: column;
  height: 20vw;
  justify-content: center;
}

.main-card-top-row {
  @extend .card-display;
  justify-content: space-between;
  width: 100%;
}

.main-card-bottom-row {
  text-align: center;
  width: 100%;
}

#steps-card-container {
  background-color: $bright-orange;
  grid-area: steps;
  margin: $margin-size;
}

#hydration-card-container {
  background-color: $aqua-blue;
  grid-area: hydration;
  margin: $margin-size;
}

#stairs-card-container {
  background-color: $light-purple;
  grid-area: stairs;
  margin: $margin-size;
}

#sleep-card-container {
  background-color: $pale-yellow;
  grid-area: sleep;
  margin: $margin-size;
}

.card-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: 2vw;
}

.hydration-weekly-label {
  font-size: 1vw;
  padding-top: 1vw;
}

.hydration-weekly-amount {
  font-size: 2vw;
}

.hydration-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: .2vw;
}

.trend-line {
  font-size: 2vw;
  text-align: center;
  width: 20vw;
}

/* CHANGING CLASSES */
.hide {
  display: none;
}

.teal-text {
  color: #00FFFF;
}

.orange-text {
  color: #FF8C00;
}

.yellow-text {
  color: #F8BA00;
}
//USER INPUT MODAL

.trigger {
  background-image: url(../images/plus-icon.png);
  background-position: center;
  background-size: 5.1vw;
  border: none;
  display: inline;
  float: left;
  height: $profile-button;
  margin-right: $margin-size;
  margin-top: 1.6vw;
  width: $profile-button;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 30%;
  overflow: scroll;
  border-radius: 0.5rem;
  height: 80vh;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.2);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
form {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgray;
  padding-top: 2rem;
  width: 80%;
  overflow: scroll;
  border-radius: 0.5rem;
  height: 80vh;

}
